.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category{
  min-width: 200px;
}
.searchInput {
  max-width: 400px;
  align-self: center;
}

@media screen and (max-width: 980px) {
  .filter {
    flex-direction: column;
  }
  .filter > * {
    flex-grow: 1;
    width: 50%;
  }
}
